# -----------------------------------------------------------------------------
# Gondolin Light
# Upstream: https://github.com/wunki/gondolin.nvim/blob/main/extras/fzf/gondolin-light.rc
# URL: https://github.com/junegunn/fzf/tree/master#environment-variables
# Note: You can either export the following as an environment variable (export FZF_DEFAULT_OPTS='...') or
#       add the following to an opts file and point FZF_DEFAULT_OPTS_FILE to it.
#       See the URL above for more information.
# -----------------------------------------------------------------------------

--color=bg:-1,bg+:#f8f1e7,fg:-1,fg+:#5c6a72,hl:#85647f,hl+:#aa5f1b
--color=header:#aa5f1b,info:#46778d,pointer:#46778d
--color=marker:#46778d,prompt:#aa544d,spinner:#637827
