// -----------------------------------------------------------------------------
// Gondolin Light
// Upstream: https://github.com/wunki/gondolin.nvim/blob/main/extras/zellij/gondolin-light.kdl
// URL: https://zellij.dev/
// -----------------------------------------------------------------------------

themes {
    gondolin-light {
        text_unselected {
            base 92 106 114
            background 0
            emphasis_0 170 84 77
            emphasis_1 170 95 27
            emphasis_2 155 110 32
            emphasis_3 99 120 39
        }
        text_selected {
            base 92 106 114
            background 248 241 231
            emphasis_0 170 84 77
            emphasis_1 170 95 27
            emphasis_2 155 110 32
            emphasis_3 99 120 39
        }
        ribbon_selected {
            base 244 239 230
            background 70 119 141
            emphasis_0 170 84 77
            emphasis_1 170 95 27
            emphasis_2 155 110 32
            emphasis_3 99 120 39
        }
        ribbon_unselected {
            base 244 239 230
            background 133 100 127
            emphasis_0 170 84 77
            emphasis_1 170 95 27
            emphasis_2 155 110 32
            emphasis_3 99 120 39
        }
        table_title {
            base 92 106 114
            background 0
            emphasis_0 170 84 77
            emphasis_1 170 95 27
            emphasis_2 155 110 32
            emphasis_3 99 120 39
        }
        table_cell_selected {
            base 92 106 114
            background 248 241 231
            emphasis_0 170 84 77
            emphasis_1 170 95 27
            emphasis_2 155 110 32
            emphasis_3 99 120 39
        }
        table_cell_unselected {
            base 92 106 114
            background 0
            emphasis_0 170 84 77
            emphasis_1 170 95 27
            emphasis_2 155 110 32
            emphasis_3 99 120 39
        }
        list_selected {
            base 92 106 114
            background 248 241 231
            emphasis_0 170 84 77
            emphasis_1 170 95 27
            emphasis_2 155 110 32
            emphasis_3 99 120 39
        }
        list_unselected {
            base 92 106 114
            background 0
            emphasis_0 170 84 77
            emphasis_1 170 95 27
            emphasis_2 155 110 32
            emphasis_3 99 120 39
        }
        frame_selected {
            base 133 100 127
            background 0
            emphasis_0 0
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        frame_highlight {
            base 71 127 94
            background 0
            emphasis_0 0
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        exit_code_success {
            base 71 127 94
            background 0
            emphasis_0 229 236 210
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        exit_code_error {
            base 170 84 77
            background 0
            emphasis_0 242 223 216
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 170 84 77
            player_2 170 95 27
            player_3 155 110 32
            player_4 99 120 39
            player_5 71 127 94
            player_6 70 119 141
            player_7 133 100 127
            player_8 99 120 39
            player_9 170 95 27
            player_10 70 119 141
        }
    }
}

