// -----------------------------------------------------------------------------
// ${_style_name}
// Upstream: ${_upstream_url}
// URL: ${_url}
// -----------------------------------------------------------------------------

themes {
    gondolin-light {
        text_unselected {
            base 47 36 23
            background 0
            emphasis_0 180 84 91
            emphasis_1 159 108 31
            emphasis_2 63 141 88
            emphasis_3 74 104 144
        }
        text_selected {
            base 47 36 23
            background 238 228 214
            emphasis_0 180 84 91
            emphasis_1 159 108 31
            emphasis_2 63 141 88
            emphasis_3 74 104 144
        }
        ribbon_selected {
            base 244 239 230
            background 119 89 58
            emphasis_0 180 84 91
            emphasis_1 159 108 31
            emphasis_2 63 141 88
            emphasis_3 74 104 144
        }
        ribbon_unselected {
            base 244 239 230
            background 125 91 196
            emphasis_0 180 84 91
            emphasis_1 159 108 31
            emphasis_2 63 141 88
            emphasis_3 74 104 144
        }
        table_title {
            base 47 36 23
            background 0
            emphasis_0 180 84 91
            emphasis_1 159 108 31
            emphasis_2 63 141 88
            emphasis_3 74 104 144
        }
        table_cell_selected {
            base 47 36 23
            background 238 228 214
            emphasis_0 180 84 91
            emphasis_1 159 108 31
            emphasis_2 63 141 88
            emphasis_3 74 104 144
        }
        table_cell_unselected {
            base 47 36 23
            background 0
            emphasis_0 180 84 91
            emphasis_1 159 108 31
            emphasis_2 63 141 88
            emphasis_3 74 104 144
        }
        list_selected {
            base 47 36 23
            background 238 228 214
            emphasis_0 180 84 91
            emphasis_1 159 108 31
            emphasis_2 63 141 88
            emphasis_3 74 104 144
        }
        list_unselected {
            base 47 36 23
            background 0
            emphasis_0 180 84 91
            emphasis_1 159 108 31
            emphasis_2 63 141 88
            emphasis_3 74 104 144
        }
        frame_selected {
            base 125 91 196
            background 0
            emphasis_0 0
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        frame_highlight {
            base 63 141 88
            background 0
            emphasis_0 0
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        exit_code_success {
            base 63 141 88
            background 0
            emphasis_0 234 248 236
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        exit_code_error {
            base 180 84 91
            background 0
            emphasis_0 251 235 235
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 180 84 91
            player_2 159 108 31
            player_3 63 141 88
            player_4 74 104 144
            player_5 125 91 196
            player_6 90 74 142
            player_7 53 107 127
            player_8 119 89 58
            player_9 159 108 31
            player_10 74 104 144
        }
    }
}

