/* ----------------------------------------------------------------------------- */
/* Gondolin Palette */
/* Upstream: https://github.com/wunki/gondolin.nvim/blob/main/extras/tailwind/gondolin-palette.css */
/* URL: https://tailwindcss.com/ */
/* ----------------------------------------------------------------------------- */

@theme inline {
  --color-gondolin-accent: oklch(from #83AEF8 l c h);
  --color-gondolin-attribute: oklch(from #eebcbc l c h);
  --color-gondolin-bg0: oklch(from #060809 l c h);
  --color-gondolin-bg1: oklch(from #080A0D l c h);
  --color-gondolin-bg2: oklch(from #0d0f13 l c h);
  --color-gondolin-bg3: oklch(from #0E1114 l c h);
  --color-gondolin-bg4: oklch(from #1a1d23 l c h);
  --color-gondolin-bg5: oklch(from #1C2129 l c h);
  --color-gondolin-bg6: oklch(from #212430 l c h);
  --color-gondolin-bg7: oklch(from #262C36 l c h);
  --color-gondolin-bg8: oklch(from #404658 l c h);
  --color-gondolin-border: oklch(from #1C2129 l c h);
  --color-gondolin-border-focused: oklch(from #83AEF8 l c h);
  --color-gondolin-border-selected: oklch(from #0a0b0f l c h);
  --color-gondolin-border-variant: oklch(from #353d4a l c h);
  --color-gondolin-character: oklch(from #91D8CE l c h);
  --color-gondolin-comment: oklch(from #3D4550 l c h);
  --color-gondolin-comment-doc: oklch(from #A4ACCB l c h);
  --color-gondolin-comment-error: oklch(from #F79294 l c h);
  --color-gondolin-comment-hint: oklch(from #9CBAFF l c h);
  --color-gondolin-comment-note: oklch(from #FFE5DF l c h);
  --color-gondolin-comment-todo: oklch(from #FFCECE l c h);
  --color-gondolin-comment-warning: oklch(from #F5D8A0 l c h);
  --color-gondolin-conflict: oklch(from #FFA877 l c h);
  --color-gondolin-constant: oklch(from #FFBE78 l c h);
  --color-gondolin-constructor: oklch(from #FFCECE l c h);
  --color-gondolin-diff-minus: oklch(from #F79294 l c h);
  --color-gondolin-diff-plus: oklch(from #AAE08A l c h);
  --color-gondolin-embedded: oklch(from #FAA9AC l c h);
  --color-gondolin-emphasis: oklch(from #FAA9AC l c h);
  --color-gondolin-emphasis-strong: oklch(from #FAA9AC l c h);
  --color-gondolin-enum: oklch(from #91D8CE l c h);
  --color-gondolin-error: oklch(from #FF7A77 l c h);
  --color-gondolin-error-bg: oklch(from #212430 l c h);
  --color-gondolin-fg0: oklch(from #ffffff l c h);
  --color-gondolin-fg1: oklch(from #D0D3DA l c h);
  --color-gondolin-fg2: oklch(from #C4CAD4 l c h);
  --color-gondolin-fg3: oklch(from #c6cad7 l c h);
  --color-gondolin-fg4: oklch(from #A2AEC0 l c h);
  --color-gondolin-fg5: oklch(from #a9aec1 l c h);
  --color-gondolin-fg6: oklch(from #94a3b8 l c h);
  --color-gondolin-fg7: oklch(from #6A7587 l c h);
  --color-gondolin-fg8: oklch(from #3D4550 l c h);
  --color-gondolin-fg9: oklch(from #454E5C l c h);
  --color-gondolin-field: oklch(from #CACBFF l c h);
  --color-gondolin-float: oklch(from #FFB78C l c h);
  --color-gondolin-func: oklch(from #A6C6FE l c h);
  --color-gondolin-hint: oklch(from #958BCC l c h);
  --color-gondolin-hint-bg: oklch(from #302f43 l c h);
  --color-gondolin-info: oklch(from #83AEF8 l c h);
  --color-gondolin-info-bg: oklch(from #1a2535 l c h);
  --color-gondolin-keyword: oklch(from #CC95FF l c h);
  --color-gondolin-keyword-alt: oklch(from #DAB0F6 l c h);
  --color-gondolin-keyword-directive: oklch(from #FFCAEE l c h);
  --color-gondolin-keyword-export: oklch(from #A9E1EB l c h);
  --color-gondolin-label: oklch(from #95D1EC l c h);
  --color-gondolin-link-text: oklch(from #CACBFF l c h);
  --color-gondolin-link-uri: oklch(from #9CBAFF l c h);
  --color-gondolin-mode-command: oklch(from #FFE878 l c h);
  --color-gondolin-mode-insert: oklch(from #B9EC86 l c h);
  --color-gondolin-mode-normal: oklch(from #83AEF8 l c h);
  --color-gondolin-mode-replace: oklch(from #FF7A77 l c h);
  --color-gondolin-mode-visual: oklch(from #CC95FF l c h);
  --color-gondolin-module: oklch(from #F5D8A0 l c h);
  --color-gondolin-namespace: oklch(from #F5D8A0 l c h);
  --color-gondolin-operator: oklch(from #A9E1EB l c h);
  --color-gondolin-parameter: oklch(from #FAA9AC l c h);
  --color-gondolin-parent: oklch(from #FFB78C l c h);
  --color-gondolin-predictive: oklch(from #838AA4 l c h);
  --color-gondolin-property: oklch(from #9CBAFF l c h);
  --color-gondolin-punct-special: oklch(from #FFCECE l c h);
  --color-gondolin-punctuation: oklch(from #A4ACCB l c h);
  --color-gondolin-rainbow1: oklch(from #FF7A77 l c h);
  --color-gondolin-rainbow2: oklch(from #FFE878 l c h);
  --color-gondolin-rainbow3: oklch(from #B9EC86 l c h);
  --color-gondolin-rainbow4: oklch(from #83AEF8 l c h);
  --color-gondolin-rainbow5: oklch(from #CC95FF l c h);
  --color-gondolin-rainbow6: oklch(from #FF8DFF l c h);
  --color-gondolin-rainbow7: oklch(from #91D8CE l c h);
  --color-gondolin-scroll-thumb: oklch(from #2a3040 l c h);
  --color-gondolin-scroll-thumb-active: oklch(from #4a5565 l c h);
  --color-gondolin-scroll-thumb-hover: oklch(from #3a4555 l c h);
  --color-gondolin-search-match: oklch(from #0f3570 l c h);
  --color-gondolin-selection: oklch(from #1a1d23 l c h);
  --color-gondolin-string: oklch(from #AAE08A l c h);
  --color-gondolin-string-doc: oklch(from #91D8CE l c h);
  --color-gondolin-string-escape: oklch(from #eebcbc l c h);
  --color-gondolin-string-regex: oklch(from #FFB78C l c h);
  --color-gondolin-string-symbol: oklch(from #e6c0b6 l c h);
  --color-gondolin-string-url: oklch(from #FFE5DF l c h);
  --color-gondolin-success: oklch(from #B9EC86 l c h);
  --color-gondolin-success-bg: oklch(from #212430 l c h);
  --color-gondolin-symbol: oklch(from #eebcbc l c h);
  --color-gondolin-tag: oklch(from #FF889E l c h);
  --color-gondolin-tag-attribute: oklch(from #F5D8A0 l c h);
  --color-gondolin-tag-delimiter: oklch(from #91D8CE l c h);
  --color-gondolin-tag-doctype: oklch(from #DAB0F6 l c h);
  --color-gondolin-term-black: oklch(from #080A0D l c h);
  --color-gondolin-term-black-bright: oklch(from #505668 l c h);
  --color-gondolin-term-black-dim: oklch(from #060809 l c h);
  --color-gondolin-term-blue: oklch(from #83AEF8 l c h);
  --color-gondolin-term-blue-bright: oklch(from #71FEFF l c h);
  --color-gondolin-term-blue-dim: oklch(from #6587B8 l c h);
  --color-gondolin-term-cyan: oklch(from #83AEF8 l c h);
  --color-gondolin-term-cyan-bright: oklch(from #71FFDF l c h);
  --color-gondolin-term-cyan-dim: oklch(from #6587B8 l c h);
  --color-gondolin-term-green: oklch(from #B9EC86 l c h);
  --color-gondolin-term-green-bright: oklch(from #B9FF6C l c h);
  --color-gondolin-term-green-dim: oklch(from #8EB06A l c h);
  --color-gondolin-term-magenta: oklch(from #FF8DFF l c h);
  --color-gondolin-term-magenta-bright: oklch(from #FF8DFF l c h);
  --color-gondolin-term-magenta-dim: oklch(from #D071D3 l c h);
  --color-gondolin-term-red: oklch(from #FF7A77 l c h);
  --color-gondolin-term-red-bright: oklch(from #FF7774 l c h);
  --color-gondolin-term-red-dim: oklch(from #C85C59 l c h);
  --color-gondolin-term-white: oklch(from #D6DAE7 l c h);
  --color-gondolin-term-white-bright: oklch(from #ffffff l c h);
  --color-gondolin-term-white-dim: oklch(from #A4B3C8 l c h);
  --color-gondolin-term-yellow: oklch(from #FFE878 l c h);
  --color-gondolin-term-yellow-bright: oklch(from #FFE878 l c h);
  --color-gondolin-term-yellow-dim: oklch(from #D4B65F l c h);
  --color-gondolin-text: oklch(from #D6E0FF l c h);
  --color-gondolin-text-literal: oklch(from #AAE08A l c h);
  --color-gondolin-title: oklch(from #D6E0FF l c h);
  --color-gondolin-type: oklch(from #FFBE78 l c h);
  --color-gondolin-type-definition: oklch(from #F5D8A0 l c h);
  --color-gondolin-type-interface: oklch(from #F5D8A0 l c h);
  --color-gondolin-variable: oklch(from #7DA7F7 l c h);
  --color-gondolin-variable-special: oklch(from #A6C6FE l c h);
  --color-gondolin-vcs-added: oklch(from #B9EC86 l c h);
  --color-gondolin-vcs-conflict: oklch(from #FFA877 l c h);
  --color-gondolin-vcs-conflict-ours: oklch(from #3d2020 l c h);
  --color-gondolin-vcs-conflict-theirs: oklch(from #203d25 l c h);
  --color-gondolin-vcs-deleted: oklch(from #FF889E l c h);
  --color-gondolin-vcs-ignored: oklch(from #B9BED1 l c h);
  --color-gondolin-vcs-modified: oklch(from #83AEF8 l c h);
  --color-gondolin-vcs-renamed: oklch(from #FFEF90 l c h);
  --color-gondolin-warning: oklch(from #FFE878 l c h);
  --color-gondolin-warning-bg: oklch(from #212430 l c h);
}
